<% if resource.errors.any? %>
  <div class="alert alert-danger text-white rounded shadow-sm bg-danger">
    <h5 class="mb-2">There were problems with your submission:</h5>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container mt-5" style="max-width: 400px;">
  <div class="card shadow rounded">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Sign Up</h3>
      <%= form_with model: @user, url: user_registration_path, local: true do |form| %>
        <div class="mb-3">
          <%= form.label :username, class: "form-label" %>
          <%= form.text_field :username, class: "form-control", required: true, placeholder: "Enter username" %>
        </div>
        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.text_field :email, class: "form-control", required: true, placeholder: "Enter email" %>
        </div>

        <div class="mb-2">
            <%= form.label :password, class: "form-label" %>
            <%= form.password_field :password, class: "form-control", required: true, placeholder: "Enter password" %>
        </div>
        <div class="mb-3">
            <%= form.password_field :password_confirmation, class: "form-control", required: true, placeholder: "Confirm password" %>
        </div>

        <div class="d-grid">
          <%= form.submit "Sign Up", class: "btn btn-primary" %>
        </div>
      <% end %>

      <p class="text-center mt-3 mb-0">
        Already have an account? 
        <%= link_to "Sign In", new_user_session_path(return_to: params[:return_to]), class: "text-decoration-none" %>
      </p>
    </div>
  </div>
</div>